<link rel="stylesheet" href="/css/about.css">

    <header class="header">

<div class="hdleft">
    <img src="img/logo.png">
</div>


<div class="hdmid">

    <ul class="navbar">
        <li ><a href="/">Home</a></li>
        <li><a href="news">News</a></li>
        <li><a href="customer">Customer</a></li>
        <li><a href="about" class="active">About us</a></li>
        </ul>
        </div>



<div class="hdright">

    <input type="search" class="search" placeholder="CUSTOMER NAME"> 
  <button class="callme">Call Now</button>
  <button class="EmailUs">Email Now</button>
</div>
    </header>
    
        <br><br><br><br><br>
            <h1>WELCOME TO ABOUT US SECTION</h1>
        
        <br><br><br><br><br><br>
            <marquee><h2>PAGE IS UNDER CONSTRUCTION</h2></marquee>
