<link rel="stylesheet" href="/css/home.css">

<header class="header">

<div class="hdleft">
     <img src="img/logo.png">
</div>

<div class="hdmid">
<ul class="navbar">
<li ><a href="/" class="active">Home</a></li>
<li><a href="news">News</a></li>
<li><a href="customer">Customer</a></li>
<li><a href="about">About us</a></li>
</ul>
</div>

<div class="hdright">
<input type="search" class="search" placeholder="CUSTOMER NAME"> 
<button class="callme">Call Now</button>
<button class="EmailUs">Email Now</button>
</div>
</header>

<main>
<h2>Free Register Now</h2>

<form action="/signup" method="post" id="form" >    
<input type="text" name="name" placeholder="First NAME" class="name">
<input type="text"  name="surname" placeholder="SURNAME" class="surname">  
<input type="phone" name="contact" placeholder="ENTER YOUR CONTACT NO" class="phoneno">
<input type="email"  name="email" placeholder="ENTER YOUR EMAIL ID"  class="enteremail">
<input type="password"  name="password" placeholder="ENTER YOUR PASSWORD" class="password">
<input type="text"  name="address" placeholder="ADDRESS" class="address">
<input type="text"  name="gender" placeholder="GENDER" class="gender">
<input type="number"  name="age" placeholder="AGE" class="age" value="0" min="0" max="100">
<input type="submit" class="submit" value="Sign Up">
<input type="reset" class="reset">    
</form> </main>


<aside>
<div>   
<input type="email" placeholder="Enter your Username" class="loginid">
<input type="password" placeholder="Enter your Password" class="pass">
        
<button class="lgbtn">
<a href="login">login</a>
</button>   
</div>

<div><a href="#" class="Forgetten">Forgetten Password?</a></div>
<div><a href="customer" class="view">View All Customers >></a></div>
</aside> 

