html{
    background-color: black;
}

    header::before{
    height: 950px;
    }

    
        

main{
display: grid;
color: white;
position: absolute;
top: 170px;
left:50px;
grid-template-columns: 200px 200px 400px;
}


.item{
color:black;    
background-color:turquoise;
font-weight: bolder;
border: 2px solid white;
text-align: center;
}

.item1{
    color:white;    
    background-color:black;
    font-weight: bolder;
    border: 2px solid white;
    padding: 5px;
    margin: 4px;
    text-align: center;
    }

    .item2{
        color:white;    
        background-color:black;
        font-weight: bolder;
        border: 2px solid white;
        text-align: center;
        padding: 5px;
        margin: 4px;
        }


.item3{
    color:white;    
    background-color:black;
    font-weight: bolder;
    border: 2px solid white;
    text-align: left;
    margin: 4px;
    }            

    .paidform{
        display:inline-block;
        position: absolute;
        top: 350px;
        left:1000px;
        border:2px solid red;
        }


.option{
    position:absolute;
    top:40px;
    left:100px;
    padding: 10px 40px;
        font-size:18px;
        text-align: center;
}

.amount{
    position:absolute;
    top:50px;
    left:00px;
        font-size:18px;
        text-align: center;
}


.submit{
    position: absolute;
    top: 100px;
    width:100px;
    left:80px;
}